<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="utf-8" />
  <meta name="description" content="<%= description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <script type="text/javascript" src="js/script.js"></script>
</head>

<body>
  <main>
    <%- include('../../partials/search.ejs') %>
      <div class="container">
        <%- include('../../partials/header.ejs') %>
          <main class="main">
            <%- body %>
          </main>
          <%- include('../../partials/footer.ejs') %>
      </div>
  </main>
</body>